@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #000000;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}

.main-container {
  flex-grow: 1;
}

.content-container {
  margin: 0 auto;
  width: 1060px;
}

.page-header,
.main-index,
.main-inner,
.page-footer {
  background-color: #ffffff;
}

.navigation {
  display: flex;
}

.navigation-logo-img {
  display: block;
}

.navigation-list {
  margin: 0;
  margin-right: auto;
  padding: 0;
  width: 450px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user {
  width: 150px;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navigation-link {
  padding: 20px 16px;
}

.navigation-user-link {
  padding: 22px 12px;
}

.navigation-button {
  padding: 8px 34px;
  align-self: center;
  border-radius: 4px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation-link,
.navigation-user-link {
  text-decoration: none;
  text-align: center;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  display: block;
  line-height: 24px;
}


.navigation-logo {
  display: block;
  margin-right: 30px;
  width: 138px;
}

.button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
}

.hero {
  background-color: #d4cfcc;
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  background-size: 100% auto, cover;
  background-position: bottom, top;
  background-repeat: no-repeat;
  min-height: 485px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-img {
  display: block;
  margin: 0 auto;
}

.common {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.advantages-slogan-container .common {
  margin-bottom: 25px;
}

.common + p {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
}

.advantages-slogan-container {
  display: flex;
  flex-direction: column;
  width: 680px;
  padding: 69px 0;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.advantages-item:not(.wide) {
  background-color: #83B3D31F;
  color: #333333;
  max-width: 400px;
  min-height: 385px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 85px;
}

.advantages-img {
  display: block;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.item-container {
  background-color: #82B3D3;
  color: #ffffff;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 85px;
}

.advantages-item:nth-child(3) {
  background-color: #83B3D333;
}

.advantages-description {
  text-align: center;
}

.wide {
  display: flex;
}

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.features-item {
  color: #333333;
  max-width: 400px;
  min-height: 385px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 85px;
}

.features-item:not(:nth-child(2)) {
  background-color: #83B3D31F;
}

.features-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;

}

.features-slogan-container {
  display: flex;
  flex-direction: column;
  width: 680px;
  margin: auto;
  padding: 64px 0;
}

.features-slogan-container .common {
  margin-bottom: 20px;
}

.features-description {
  text-align: center;
}

.search-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 96px 0;
  width: 680px;
  margin: auto;
}

.search-title {
  margin-bottom: 20px;
}

.search-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-align: center;
  font-family: inherit;
  margin-top: 54px;
  border: none;
  padding: 8px 50px;
  border-radius: 4px;
}

.subscribe {
  background-color: #63605f;
  background-image: url("../images/background-subscribe.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  width: 680px;
  padding: 96px 0 104px;
  margin: auto;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

.subscribe-form {
  margin-top: 54px;
  display: flex;
}

.submit-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
  font-family: inherit;
  border: none;
  padding: 8px 50px;
  border-radius: 4px;
  max-width: 232px;
}

.subscribe-input {
  font-family: inherit;
  width: 100%;
  font-size: 18px;
  padding: 0 20px;
}

.page-footer-container {
  display: flex;
  padding: 45px 0 35px;
  justify-content: space-between;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link {
  color: #000000;
  text-decoration: none;
}


.footer-tel {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.subscribe-catalog .subscribe-title {
  color: #000000
}

.subscribe-catalog .subscribe-description {
  color: #333333;
}

.background-container {
  background: #333333 url("../images/catalog-background.jpg")no-repeat;
  background-size: 100% 100%;
  color: #ffffff;
  padding-top: 35px;
  min-height: 412px;
}

.inner-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

.filter-group {
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;

}

.filter-group-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
}


.control-interval-container {
  display: flex;
  margin-bottom: 36px;
}

.filter-group-price {
  flex-basis: 288px;
  margin-left: auto;
  flex-direction: column;
}

.filter-buttons-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 56px;
  flex-direction: column;
  justify-content: flex-end;
  gap: 32px;
}


.filter-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.control {
  line-height: 23px;
}

.control-interval {
  line-height: 24px;
  text-align: right;
  color: #000000;
}

.filter-buttons {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.filter-submit {
  background-color: #82B3D3;
  border: none;
  padding: 8px 50px;
  border-radius: 4px;
}

.filter-reset {
  background-color: transparent;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
}

.catalog-products-container {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.catalog-products {
  padding: 50px 0 60px;
}

.catalog-products-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-right: auto;

}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 292px;
  margin-right: 70px;
  min-height: 48px;
}

.view-products-button {
  width: 160px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.view-products-button-item {
  width: 48px;
  min-height: 48px;

}

.view-products-button-link {
  color: #333333;
  text-decoration: none;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 20px;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.products-card {
  max-width: 340px;
  border: 1px solid #E5E5E5;
  padding: 20px;
  min-height: 438px;
}

.products-card-img {
  display: block;
  margin-bottom: 16px;
}

.products-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 16px;
}

.products-card-type {
  color: #333333;
  margin: 0;
  margin-bottom: 16px;
}

.products-card-price {
  color: #333333;
  margin: 0;
}

.products-card-button-more {
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
}

.favourites {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: 0;
}

.favourite-button {
  background-color: #82B3D3;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
}

.unfavourite-button {
  background-color: #7DB54F;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
}

.products-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  margin: 0;
}

.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.pagination-link {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  background-color: #82B3D3;
  text-decoration: none;
  display: block;
  min-width: 60px;
  min-height: 60px;
  padding: 12px;
  border-radius: 4px;
}

.link-current {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-more {
  font-size: 22px;
  line-height: 26px;
  background-color: inherit;
  color: #000000;
}
