@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #000000;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}

.main-container {
  flex-grow: 1;
}

.content-container {
  margin: 0 auto;
  width: 1060px;
}

.page-header,
.main-index,
.main-inner,
.page-footer {
  background-color: #ffffff;
}

.navigation {
  display: flex;
}

.navigation-logo-img {
  display: block;
}

.navigation-list {
  margin: 0;
  margin-right: auto;
  padding: 0;
  width: 450px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-user {
  max-width: 300px;
  list-style: none;
  display: flex;
  margin-block: 0;
  padding: 0;
  align-items: center;
  flex-wrap: wrap;
  margin-inline: auto 20px;
}

.navigation-link {
  padding: 20px 16px;
  position: relative;
}

.navigation-link:hover {
  text-decoration-color: #82B3D3;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 10px;
}

.navigation-link:focus {
  opacity: 0.5;
}

.navigation-link:active {
  opacity: 0.3;
}

.link-active::before {
  content: "";
  background-color: #756257;
  height: 2px;
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: -1px;
}

.navigation-user-link {
  padding: 20px 12px;
  min-width: 18px;
  min-height: 20px;
}

.navigation-user-favourite {
  position: relative;
  background: url("../images/icons/heart.svg") no-repeat center;
}

.navigation-user-search {
  background: url("../images/icons/search.svg") no-repeat center;
}


.navigation-user-search:hover,
.navigation-user-favourite:hover {
  opacity: 0.6;
}

.navigation-user-search:focus,
navigation-user-favourite:focus {
  opacity: 0.6;
}

.navigation-user-search:active,
navigation-user-favourite:active {
  opacity: 0.3;
}

.navigation-button {
  padding: 8px 34px;
  align-self: center;
  border-radius: 4px;
}

.navigation-button:hover,
.navigation-button:focus {
  background-color: #615048;
}

.navigation-button:active {
  background: #756157;
  color: #FFFFFF4D;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation-link,
.navigation-user-link {
  text-decoration: none;
  text-align: center;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  display: block;
  line-height: 24px;
}

.navigation-user-item {
  min-width: 44px;
  min-height: 64px;
  padding-block: 12px;
}

.favourite-count {
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  background-color: #7DB54F;
  border-radius: 50%;
  display: block;
  min-width: 20px;
  min-height: 20px;
  position: absolute;
  left: 20px;
  top: 11px;
}

.navigation-logo {
  display: block;
  margin-right: 30px;
  width: 138px;
  margin-bottom: -6px;
}

.button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  border: none;
  font-family: inherit;
  border-radius: 4px;
  cursor: pointer;
}

.hero {
  background-color: #d4cfcc;
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  background-size: 100% auto, cover;
  background-position: bottom, top;
  background-repeat: no-repeat;
  min-height: 485px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-img {
  display: block;
  margin: 0 auto;
}

.common {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.advantages-slogan-container .common {
  margin-bottom: 25px;
}

.common + p {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
}

.advantages-slogan-container {
  display: flex;
  flex-direction: column;
  width: 680px;
  padding: 69px 0;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.advantages-item:not(.wide) {
  background-color: #83B3D31F;
  color: #333333;
  width: 400px;
  min-height: 385px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 112px 85px;
}

.advantages-img {
  display: block;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  width: 230px;
  margin-bottom: 30px;
}

.item-container {
  background-color: #82B3D3;
  color: #ffffff;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 112px 85px;
  height: 100%;
}

.advantages-item:nth-child(3) {
  background-color: #83B3D333;
}

.advantages-description {
  text-align: center;
  margin: 0;
  width: 231px;
}

.wide {
  display: flex;
  background-color: #82B3D3;
}

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.features-item {
  color: #333333;
  max-width: 400px;
  min-height: 385px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 81px 85px;
}

.features-item:not(:nth-child(2)) {
  background-color: #83B3D31F;
}

.features-title::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  margin-bottom: 30px;
  margin-inline: auto;
}

.icon-house::before {
  background: url("../images/icons/house-icon.svg") no-repeat center;
  background-size: contain;
}

.icon-food::before {
  background: url("../images/icons/burger-icon.svg") no-repeat center;
  background-size: contain;
}

.icon-gift::before {
  background: url("../images/icons/gift-icon.svg") no-repeat center;
  background-size: contain;
}

.features-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 30px;
}

.features-slogan-container {
  display: flex;
  flex-direction: column;
  width: 680px;
  margin: auto;
  padding: 64px 0;
}

.features-slogan-container .common {
  margin-bottom: 20px;
}

.features-description {
  text-align: center;
  margin: 0;
  width: 230px;
}

.search-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 96px 0;
  margin: auto;
}

.search-title {
  margin-bottom: 20px;
}

.search-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-align: center;
  font-family: inherit;
  margin-top: 54px;
  border: none;
  padding: 8px 50px;
  border-radius: 4px;
  cursor: pointer;
}

.search-link:hover {
  background-color: #615048;
}

.search-link:focus {
  background-color: #615048;
}

.search-link:active {
  background-color: #756157;
  color: #FFFFFF4D;
}

.search-link:disabled {
  background: #E5E5E5;
}

.subscribe {
  background-color: #63605f;
  background-image: url("../images/background-subscribe.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  width: 680px;
  padding: 96px 0 104px;
  margin: auto;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

.subscribe-form {
  margin-top: 54px;
  display: flex;
}

.submit-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
  font-family: inherit;
  border: none;
  padding: 8px 50px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  max-width: 232px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #68A2CA;
}

.submit-button:focus {
  background-color: #68A2CA;
}

.submit-button:active {
  background-color: #82B3D3;
  color: #FFFFFF4D;
}

.submit-button:disabled {
  background: #E5E5E5;
}

.subscribe-input {
  font-family: inherit;
  width: 100%;
  font-size: 18px;
  padding: 0 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.page-footer-container {
  display: flex;
  padding: 45px 0 35px;
  justify-content: space-between;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social-item {
  min-width: 47px;
  min-height: 40px;
}

.social-link {
  color: #000000;
  text-decoration: none;
  padding: 12px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link svg {
  fill: #83B3D3;
}

.social-link:hover svg {
  fill: #68A2CA;
}

.social-link:focus svg {
  fill: #68A2CA;
}

.social-link:active svg {
  fill: #68A2CA4D;
}

.footer-tel {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.footer-tel:hover {
  color: #756157;
}

.footer-tel:focus {
  color: #756157;
}

.footer-tel:active {
  color: #7561574D;
}

.subscribe-catalog .subscribe-title {
  color: #000000
}

.subscribe-catalog .subscribe-description {
  color: #333333;
}

.copyright {
  display: flex;
  align-self: center;
}

.copyright-logo {
  width: 115px;
  height: 33px;
  fill: #000000;
}

.copyright:hover .copyright-logo {
  fill: #756157;
}

.copyright:focus .copyright-logo {
  fill: #756157;
}

.copyright:active .copyright-logo {
  fill: #7561574D;
}


.background-container {
  background: #333333 url("../images/catalog-background.jpg")no-repeat;
  background-size: 100% 100%;
  color: #ffffff;
  padding-top: 35px;
  min-height: 412px;
}

.inner-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
}

.breadcrumbs-item::after {
  content: "";
  width: 8px;
  height: 21px;
  margin: 0 10px;
  background: url("../images/icons/arrow.svg") no-repeat center;
}

.breadcrumbs-item:last-of-type::after {
  content: none;
}

.home-link {
  display: flex;
  align-items: center;
  width: 13px;
  height: 21px;
  background: url("../images/icons/home.svg") no-repeat center;
}


.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

.filter-group {
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;

}

.filter-group-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
}


.control-interval-container {
  display: flex;
  margin-bottom: 36px;
}

.filter-group-price {
  flex-basis: 288px;
  margin-left: auto;
  flex-direction: column;
}

.filter-buttons-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 56px;
  flex-direction: column;
  justify-content: flex-end;
  gap: 32px;
}


.filter-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.control {
  line-height: 23px;
}

.control-interval {
  line-height: 24px;
  text-align: right;
  color: #000000;
}

.filter-buttons {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.filter-submit {
  background-color: #82B3D3;
  border: none;
  padding: 8px 50px;
  border-radius: 4px;
}

.filter-submit:hover {
  background-color: #68A2CA;
}

.filter-submit:focus {
  background-color: #68A2CA;
}

.filter-submit:active {
  background-color: #82B3D3;
  color: #FFFFFF4D;
}

.filter-submit:disabled {
  background: #E5E5E5;
}

.filter-reset {
  background-color: transparent;
  border: none;
  padding: 8px 57px;
}

.filter-reset:hover {
  opacity: 0.6;
}

.filter-reset:focus {
  border: 3px solid #83B3D3;
}

.filter-reset:active {
  color: #FFFFFF4D;
}

.filter-reset:disabled {
  background: #E5E5E5;
}

.catalog-products-container {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.catalog-products {
  padding: 50px 0 60px;
}

.catalog-products-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-right: auto;

}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 292px;
  margin-right: 70px;
  min-height: 48px;
}

.view-products-button {
  width: 160px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.view-products-button-item {
  width: 48px;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-products-button-link {
  padding: 22px 22px;
  color: #000000;
  text-decoration: none;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.view-products-button-link:hover {
  border: 2px solid #000000;
}

.view-products-button-link:focus {
  border: 2px solid #68A2CA;
}

.view-products-button-link:active {
  border: 2px solid #000000;
}

.view-current {
  border: 2px solid #000000;
}

.tile-view {
  background: url("../images/icons/view-icon1.svg") no-repeat 50% 50%;
}

.card-view {
  background: url("../images/icons/view-icon2.svg") no-repeat 50% 50%;
}

.list-view {
  background: url("../images/icons/view-icon3.svg") no-repeat 50% 50%;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 20px;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.products-card {
  max-width: 340px;
  border: 1px solid #E5E5E5;
  padding: 20px;
  min-height: 438px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr auto;
  gap: 16px 20px;
}

.products-card-img {
  display: block;
  grid-column: 1/-1;
}

.products-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  grid-column: 1/-1;
}

.products-card-type {
  color: #333333;
  margin: 0;
}

.products-card-price {
  color: #333333;
  margin: 0;
  justify-self: end;
}

.products-card-button-more {
  padding-block: 8px;
  display: block;
  text-decoration: none;
  align-self: center;
}

.products-card-button-more:hover {
  background-color: #615048;
}

.products-card-button-more:focus {
  background-color: #615048;
}

.products-card-button-more:active {
  background-color: #756157;
  color: #FFFFFF4D;
}

.favourite-button {
  background-color: #82B3D3;
  padding-block: 8px;
  align-self: center;
}

.favourite-button:hover {
  background-color: #68A2CA;
}

.favourite-button:focus {
  background-color: #68A2CA;
}

.favourite-button:active {
  background-color: #82B3D3;
  color: #FFFFFF4D;
}

.favourite-button:disabled {
  background: #E5E5E5;
}

.unfavourite-button {
  background-color: #7DB54F;
  padding-block: 8px;
  align-self: center;
}

.unfavourite-button:hover {
  background-color: #6C9E42;
}

.unfavourite-button:focus {
  background-color: #6C9E42;
}

.unfavourite-button:active {
  background-color: #7DB54F;
  color: #FFFFFF4D;
}

.unfavourite-button:disabled {
  background: #E5E5E5;
}

.products-card-stars {
  height: 18px;
  background: url("../images/icons/star.svg") space left center;
  margin: auto 0;
}

.stars-four {
  width: 87px;
}

.stars-three {
  width: 57px;
}

.stars-two {
  width: 39px;
}

.products-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  margin: 0;
  align-self: center;
  padding-block: 8px;
  border-radius: 4px;
}

.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.pagination-link {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  background-color: #82B3D3;
  text-decoration: none;
  display: block;
  min-width: 60px;
  min-height: 60px;
  padding: 12px;
  border-radius: 4px;
}

.pagination-link:not(.pagination-more):not(.link-current):hover,
.pagination-link:not(.pagination-more):not(.link-current):focus {
  background-color: #68A2CA;
}

.pagination-link:not(.pagination-more):not(.link-current):active {
  background-color: #82B3D3;
  color: #FFFFFF4D;
}

.pagination-more {
  font-size: 22px;
  line-height: 26px;
  background-color: inherit;
  color: #000000;
  cursor: default;
}

.link-current {
  background-color: #F2F2F2;
  color: #000000;
  cursor: default;
}
